Filter - not able to parse _ and """"

If query is having filter like 
`filter=meta.resource_type eq "test"` - fails

or 

`filter=meta co "W/"990-6468886345120203448""` - fails

filter with two inverted commas or underscore, it fails to parse.

Hey @bnanda2006. Thank you for reporting this.

Hyphens and underscores are indeed allowed.
```abnf
nameChar  = "-" / "_" / DIGIT / ALPHA
```

What do you mean exactly with 'two inverted commas'? The quotation marks?
Strings should be formatted as described in [RFC7159, Section 7](https://tools.ietf.org/html/rfc7159#section-7).

when i write query filter like filter=meta.resource_type co "TEST"
and use (parser *Parser) Parse() (Expression, error) method
i get error as "found "_", expected operator"

i am using QueryEscape. And in that, 
i am using filter=url.QueryEscape("meta co \"W/\"990-6468886345120203448\"\"")
if you try above filter it doesnot take full string

I will add support for hyphens and escaped characters.

The example you have given is not a valid JSON string.
```
"meta co \"W/\"990-6468886345120203448\"\""
```
The correct notation would be:
```
"meta co \"W/\\\"990-6468886345120203448\\\"\""
```

Thanks for the support.

Using

```bash
"meta` co \"W/\\\"990-6468886345120203448\\\"\""
```

i am getting `W/\` as answer. Looks like it search till it find next `"`

Correct, this is a bug in the current implementation. I will fix this later today.

Hey @bnanda2006! I rewrote the whole parser and made a new release. This should solve all your problems.